:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

* {
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}

.text-logo {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;

}

.text-logo::after {
    content: "Studio";
    color: black;
}

.text-logo::before {
    content: Web;
    color: blue;
}

.container-global-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 0;
}

.nav-menu ul li {
    margin-right: 25px;
    display: inline;
}

.nav-menu ul li a {
    text-decoration: none;
    color: black;
}

.info {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.tel {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.hero {
    background: var(--navy-blue);
    flex-direction: column;
    align-items: center; 
    display:flex;
    width: 1440px;
    height: 600px;
    text-align: center;
    justify-content: center;
    color: #fff;

}
.main.hero.h1.content {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
}
.button {
    text-align: center;
    border-radius: 4px;
    padding: 16px 16px;
    width: 169px;
    height: 56px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    margin-top: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    cursor: pointer;
}

.section1 {
    max-width: 1200px;
    padding-top: 224px;
    padding-bottom: 94px;
}
.list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}
.photo-grid {
    width: 1200px;
    margin: 0;
    text-align: center;
    padding-top: 94px;  
    padding-bottom: 94px;  
}

.pictures {
    display: flex;
    justify-content: space-around;
}

.team {
    width: 1200px;
    height: 780px;
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    background: var(--cloud);
}
.cards {
    display: flex;
    justify-content: space-around;
}
.card {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.global-footer {
    width: 1440px;
    height: 312px;
    background: var(--navy-blue);
    color: #fff;
    justify-content: center;
}
.footer-container {
    padding-top: 100px;
    padding-left: 156px;
}
 


 
 
 


































































